<%= form_for(@user, url: registration_path(:user)) do |f| %>

    <%= render partial: 'shared/error_explanation', locals: { object: @user } %>

    <div class="form-group">
      <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name', required: true %>
    </div>
    <div class="form-group">
      <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name', required: true %>
    </div>
    <div class="form-group">
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email', autofocus: true, required: true %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, class: 'form-control', placeholder: 'Password', autocomplete: 'off', required: true %>
    </div>
    <div class="form-group">
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password', autocomplete: 'off', required: true %>
    </div>
    <%= f.hidden_field :role, value: 'customer' %>

    <%= f.fields_for :addresses do |address_fields| %>
        <div class="form-group">
          <%= address_fields.text_field :line1, class: 'form-control', placeholder: 'Address Line 1', required: true %>
        </div>
        <div class="form-group">
          <%= address_fields.text_field :line2, class: 'form-control', placeholder: 'Address Line 2' %>
        </div>
        <div class="form-group">
          <%= address_fields.text_field :city, class: 'form-control', placeholder: 'City', required: true %>
        </div>
        <div class="form-group">
          <%= address_fields.select :country, country_options, { prompt: 'Country' }, { class: 'form-control address-country', required: true } %>
        </div>
        <div class="form-group">
          <%= address_fields.select :state, state_options, { prompt: 'State' }, { class: 'form-control address-state', required: true } %>
        </div>
        <div class="form-group">
          <%= address_fields.text_field :postal_code, class: 'form-control', placeholder: 'Postal Code', required: true %>
        </div>
        <%= address_fields.hidden_field :kind, value: Address::SHIPPING %>
    <% end %>
    <div class="form-group">
      <%= f.submit 'Register', class: 'btn btn-default' %>
    </div>
<% end %>
