<%= form_for(@order) do |f| %>
    <%= render partial: 'shared/error_explanation', locals: { object: @order } %>

    <% @products.each do |product| %>
        <%= f.fields_for :line_items do |line_item_fields| %>
            <div class="form-group">
              <%= label_tag :name, "#{product.name}: #{number_to_currency(product.price)}" %>
              <%= line_item_fields.number_field :quantity, class: 'form-control' %>
            </div>
            <%= line_item_fields.hidden_field :product_id, value: product.id %>
        <% end %>
    <% end %>
    <div class="form-group">
      <%= f.submit 'Submit Order', class: 'btn btn-default' %>
    </div>
<% end %>
